apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web-app
  template:
    metadata:
      labels:
        app: web-app
    spec:
      containers:
      - name: web-app
        # skaffold will replace this image ref by the image built by ko
        image: web-app
        ports:
        - containerPort: 80
          name: http
